[2017-08-24 09:30] Bam4d opened #1 "Complete installation docs and add to NPM"
Would be great if this module was uploaded to NPM so users could use `npm install disqus-react`

Other disqus modules I have tried have not been working for me.

I had to install this one manually.

[2017-08-30 21:47] ryanvalentin commented on #1
We just discussed this and it looks like we're going to put this on NPM shortly. Thanks for chiming in!

[2017-08-31 22:22] ryanvalentin commented on #1
This is on NPM now: https://www.npmjs.com/package/disqus-react

[2017-08-31 22:22] #1 closed

[2017-09-23 07:34] ZhangYiJiang opened #2 "Transpile code distributed on NPM"
Currently the NPM package ships with untranspiled source that includes JSX and ES6 modules. This means that developers will need to set up additional infrastructure to use this package. In addition, most setup today do not transpile `node_modules` content with the assumption that the package maintainer already does this.

It would be useful to run the code through Webpack to produce a ready-to-use

[2017-09-23 07:46] ZhangYiJiang opened #3 "Clarify relationship with Disqus, the company"
In the `package.json` description, this package is described as the official Disqus React package. However, this is not mentioned on the GitHub repo description, nor in the README file, and the package is not published under the Disqus GitHub Organization https://github.com/disqus.

I think it would be useful to clarify how official this package is, and make it easier for developers to trust it ou

[2017-10-04 21:52] ryanvalentin commented on #3
Yep! We'll be transferring it shortly.

[2017-10-16 15:50] #2 closed

[2017-11-01 03:13] ZhangYiJiang commented on #3
Hi! Is there any update on this issue? Also, could you kindly update `package.json` and create a new release on npm? Thanks in advance!

[2017-11-17 07:05] parrotmac opened #5 "Can't resolve 'disqus-react'"
Prebuilt package from npm seems to be broken. It's possible I've *really* broken something on my end, but I've spun up a couple of dummy projects and installed this and other packages from npm, and this one really does seem to be broken.

**Steps to reproduce:**
[code]
Open `./my-application/src/App.js` and add `import Disqus from 'disqus-react';` to imports.
`npm run start`

[2017-11-17 08:33] freecates commented on #5
I confirm tha package it's broken and i'ts really annoying because I've asked  Disqus support team on react integration and the have referenced this package to me.
Please, @ryanvalentin , could you please fix it? Thanks a lot.

[2017-11-24 18:19] aymericbeaumet commented on #5
@freecates downgrading it to `1.0.1` makes it work

[2017-11-28 15:37] ZhangYiJiang commented on #5
If your needs are simple, it may be best to just copy the code from the repo directly into your project. I've done that for ours - https://github.com/nusmodifications/nusmods/pull/481

The code in this package is fine (the code is short enough that you can review it yourself, and the MIT license means you can just incorporate it into your codebase directly), but the maintainer is unreliable. I had

[2017-12-14 11:13] dparkar commented on #5
any updates here ? still seems to be broken.

[2017-12-19 17:53] khiner commented on #5
+1 - source is not being included with the npm dist.

This is all that is exported:
<img width="273" alt="screen shot 2017-12-19 at 9 52 13 am" src="https://user-images.githubusercontent.com/685394/34171201-5d04a25e-e4a2-11e7-8ef5-4e38b9444692.png">

[2017-12-21 12:00] dparkar commented on #3
+1

[2017-12-21 19:31] niklabh commented on #5
Broken. Please fix

[2018-01-08 07:40] Xapphire13 opened #6 "React.PropTypes is removed from React since version 16"
This package uses `React.PropTypes` which has been deprecated since version 15.5 and removed since version 16. This prohibits projects using newer versions of React using this library.

https://reactjs.org/warnings/dont-call-proptypes.html

[2018-01-08 18:46] #6 closed

[2018-01-08 19:20] Xapphire13 commented on #5
@ryanvalentin could you please cut a new release with the right bits?

[2018-01-08 21:01] ryanvalentin commented on #5
Should be fixed now, you just need to upgrade the `disqus-react` package to 1.0.3!

[2018-01-18 20:05] GregX999 opened #7 "window.document error when using with "gatsby build""
The line "var DOC = window.document;" causes an error when using this plugin with Gatsby. When you do a "gatsby build" command, Webpack throws the error "WebpackError: window is not defined". From when I could figure out, I think the reference to window.document needs to be moved into the componentDidMount method (by which time window would exist).

See: https://www.gatsbyjs.org/docs/debugging-htm

[2018-01-23 05:50] ryanvalentin commented on #7
This should be easy enough to fix, and would benefit any server-side rendering

[2018-01-23 06:07] #7 closed

[2018-01-27 14:16] greeeg commented on #3
Hi @ryanvalentin, any news concerning the ownership transfer to the @disqus GitHub organization? Btw, thanks for what you did with this package :)

[2018-01-30 13:46] LeKoArts commented on #3
@ryanvalentin Any updates on that?

[2018-03-05 19:53] ryanvalentin commented on #3
Repository is now part of the Disqus org, as is the NPM package!

[2018-03-05 19:53] #3 closed

[2018-05-02 15:23] mangelsnc opened #11 "Remove "Comments" string from the CommentCount component"
Hi!

I want to remove the "Comments" string that is rendered with the comments count, i just want the integer part. Exists any way to get only the number of comments? Without the "comments" word? For internationalization matters will be very useful too.

[2018-05-08 09:59] mangelsnc commented on #11
Hi @ryanvalentin!

Thanks! It's just what I want!

[2018-05-08 10:00] #11 closed

[2018-06-09 17:14] RajeevSiewnath opened #12 "Language support, category support"
Can you maybe add language support (multilingual support for multilingual sites) and category_id support to the component? Also maybe typescript definitions would be a good idea, especially since not all functionality seems to be written down in the README file.

[2018-07-03 09:43] The-Code-Monkey commented on #11
I have changed all 3 of them on my site and its not updating its still saying comments after the number

[2018-07-03 10:27] The-Code-Monkey opened #13 "Weird bugs"
So it is working on localhost/news/1. but when i go to the second news article which is localhost/news/2 it says `We were unable to load Disqus. If you are a moderator please see our troubleshooting guide.`

how is this its running off of the same code it shouldnt be any different

[2018-08-19 17:52] aleccool213 commented on #13
👍

[2018-08-19 17:52] aleccool213 commented on #13
Same errors for me as well depending on the identifier I give it. Some work, some don't :(

[2018-08-19 19:08] The-Code-Monkey commented on #13
How though, it doesn't make sense

[2018-08-19 19:46] aleccool213 commented on #13
Only thing I can think of (while not looking at the code one bit) is that there is a bug in the initialization of the component, it works for 1 but not many. Super weird indeed.

[2018-08-23 16:45] aleccool213 commented on #13
@The-Code-Monkey I may be able to look at it this weekend but I am looking for alternatives to this package for the time being. Time == 💰

[2018-08-31 08:47] liesislukas opened #16 "developer mode flag"
how about prop `developerMode={true/false}`?
Trying to load comments at localhost. Can't enter dev mode or add localhost as valid domain.

![image](https://user-images.githubusercontent.com/2733862/44903851-4ac35080-ad16-11e8-9191-31bfc0729a4d.png)

![image](https://user-images.githubusercontent.com/2733862/44903864-531b8b80-ad16-11e8-8a12-5949456bbd9b.png)

[2018-10-06 13:51] smakosh opened #18 "More props to customize the component"
We need more props to change the theme how ever we want.

[2018-10-16 19:02] gvinter opened #19 "Disqus DiscussionEmbed doesn't always change from page to page"
I works after I added `key={PAGE_KEY}` attribute to `DiscussionEmbed`. This should probably be handled internally in the component or documented. Curious why it doesn't seem to be an issue for the `CommentCount`

[2018-11-14 15:55] afixoftrix commented on #16
Any updates on this? Need disqus to render on localhost please.

[2018-11-26 03:29] seanngpack commented on #11
@The-Code-Monkey Did you resolve the issue? Mine keeps the 'comments' string as well even after changing the settings. Maybe it has something to do with the info being cached somewhere?

[2018-11-26 03:39] seanngpack commented on #11
@seanngpack Eventually my comments updated and it works now. I guess the answer is to give it time.

[2018-12-04 18:00] gastongouron commented on #13
up

[2018-12-06 06:40] seanngpack opened #20 "Scroll not working"
Anyone else cannot scroll when hovering over the component? I have my disqus wrapped in a div with width set to 100%

[code]

[2018-12-06 06:42] seanngpack commented on #20
Edit: fixed by making the component have a z-index of -1.

[2018-12-06 22:17] midori0507 commented on #16
@afixoftrix
@liesislukas
I managed to have this running on localhost, by giving the a fake URL to config, while giving it a real shortname
In config, instead of giving `url` as full URL (contain localhost), try to replace your `localhost` with your `DISQUS_SITENAME`

[code]

[2018-12-10 13:51] afixoftrix commented on #16
@midori0507 Thanks man. I was able to get it to work using your method on localhost.

[2018-12-14 08:51] seanngpack commented on #20
The scroll works on my production build but not development build!

[2018-12-14 08:51] #20 closed

[2019-03-06 23:18] janosh opened #22 "Render CommentCount only for positive number of comments"
Is there a way to have the `CommentCount` display different text or not at all if the number of comments is zero?

[2019-03-07 00:05] ryanvalentin commented on #22
That's something you can configure in your Disqus admin settings: https://help.disqus.com/installation/customizing-comment-count-link-text

[2019-03-07 00:53] janosh commented on #22
MThanks for the quick reply!

Is there a way to get just the number in order to determine the rendering of components around it?

[2019-04-12 22:52] mernflow commented on #7
still breaking as of April 12, 2019 using GatsbyJS and Netlify see error below

**ERROR**
failed during stage 'building site': Build script returned non-zero exit code: 1

this is caused by same issue site builds fine without this package but as soon as i add it site breaks

also i can run / build on local env but when i move to build in production i get that error

[2019-04-12 22:54] mernflow opened #23 "Breaks Gatsby Build"
Still breaking as of April 12, 2019 using GatsbyJS and Netlify see error below

ERROR
failed during stage 'building site': Build script returned non-zero exit code: 1

This is caused by same issue site builds fine without this package but as soon as i add it site breaks

also i can run / build on local env ie localhost:8000 but when i move to build in production with netlify i get that error

[2019-04-13 11:56] #23 closed

[2019-06-13 04:23] edouardr opened #25 "Script rendered twice"
dsq-embed-scr is being added twice to the DOM. This is captured as invalid HTML because of id used being the same.

![image](https://user-images.githubusercontent.com/1897774/59402004-55f5e300-8d62-11e9-9842-530cb315a302.png)

![image](https://user-images.githubusercontent.com/1897774/59402049-88074500-8d62-11e9-9a36-517affd457c1.png)

It seems it is due to ```componentDidUpdate``` being called ri

[2019-06-19 22:21] tterb commented on #25
@edouardr Could you provide the steps to reproduce this issue?

[2019-06-20 01:05] edouardr commented on #25
hey @tterb in my case, I have the following setup:
- GatsbyJS 2.9.4
- disqus-react 1.0.5

I have a component that looks like below:
[code]
And a template that looks roughly like this:
[code]

When the above code loads, I get the embed script loaded twice as mentioned previously.

[2019-06-20 16:40] tterb commented on #25
@edouardr Thanks for the info, I'll try to use that code to reproduce this on my end to test out the solution in your PR #26 and hopefully track down the cause.

[2019-06-20 17:31] edouardr commented on #25
@tterb I don't have right now, but I should be able to set a CodePen for it or a dummy repo. Will let you know as soon as I have it.

[2019-06-20 18:09] tterb commented on #18
@smakosh Currently themes are limited to light/dark color schemes and serif/sans-serif typeface, which can be configured in your site settings at `https://<your-shortname>.disqus.com/admin/settings/general/`.

Though if you have an idea in mind, feel free to submit a PR.

[2019-06-20 18:12] tterb commented on #19
@gvinter Could you provide more context and/or steps to reproduce your issue?

[2019-06-21 03:20] smakosh commented on #18
Yeah I was thinking of passing the theme as a prop, some websites that have a dark mode theme like mine, have to change the Disqus theme without the need of a window reload.

[2019-06-21 03:43] tterb commented on #18
That's definitely an interesting idea.
At this time we're primarily focused on bug-fixes/maintenance, but I'm going to leave this open for future contributions.

[2019-06-21 16:42] #13 closed

[2019-06-21 16:48] tterb commented on #22
@janosh Currently, there isn't a way to only receiving the number of comments by itself.

[2019-06-24 16:46] #22 closed

[2019-06-25 20:29] #19 closed

[2019-06-26 00:40] watawep23 opened #30 "Comment count not updating"
Hi, I can't manage to show the comment count for some of my post. Comment count only shows when it has a comment and there's a newer post.
![image](https://user-images.githubusercontent.com/39287835/60142793-f978d600-97ed-11e9-8661-2647253ee5c2.png)

[2019-06-26 03:22] watawep23 commented on #30
It seems like there's a delay to update the current comment count. Do you know how to fix that?

[2019-06-26 03:54] tterb commented on #30
@watawep23 Could you provide the steps to reproduce this issue?

[2019-06-26 04:42] watawep23 commented on #30
Hello, actually there are no steps to reproduce this issue, as soon as i load my post it shows no comment count for about 20 minutes or less.

My code looks like this:

[code]

I'm using Create React App.

[2019-06-26 05:02] tterb commented on #30
@watawep23 Thanks for info. I'll look into this tomorrow and see if I'm able to reproduce the issue and find a potential solution.

[2019-06-26 18:45] tterb commented on #30
@watawep23 It appears that the following function in the `CommentCount` component might not be keeping the count updated like it's supposed to.
[code]

I've labelled this as a bug and will work on finding a solution.

[2019-06-28 01:27] dapperAuteur opened #31 "social share links (twitter/fb) point to localhost and not my domain"
### Describe the bug
A clear and concise description of what the bug is.
the link domain is localhost and NOT the site domain when the user clicks the social share links (twitter/facebook) within the disqus component.

### To Reproduce
Steps to reproduce the behavior:
  1. Go to 'http://bit.ly/2KH3iYP'
  2. Scroll down to 'comments at the bottom of the page'
  3. Click on 'tweet or share'
  4. See

[2019-06-28 03:57] tterb commented on #31
@dapperAuteur I followed the share links you mentioned and experienced the behavior you described. Could you provide the relevant code or a link to a public repository so I can try to track down the issue?

[2019-06-28 14:11] PedroLamas opened #32 "Typescript definitions missing from package"
### Describe the bug
I see that there is a typescript definitions file on the repo (the `.d.ts` file), but seems that is not being pushed on the package.

### To Reproduce
Steps to reproduce the behavior:
  1. Create a new React app with typescript support (`npx create-react-app new-app --typescript`)
  2. Add the disqus-react package (`npm install disqus-react`)
  3. Usin VSCode, open `App.tsx` a

[2019-06-28 17:40] ryanvalentin commented on #32
Looks like the latest changes just need to be published to npm. I'd like to use this as well!

[2019-06-28 18:43] tterb commented on #32
@PedroLamas The PR containing the typescript definitions was just merged a few days ago, but I'm working on get the npm package updated today.

[2019-06-28 19:04] tterb commented on #32
@PedroLamas @ryanvalentin
[v1.0.6](https://www.npmjs.com/package/disqus-react) Published to npm

[2019-06-28 19:04] #32 closed

[2019-06-28 22:30] PedroLamas commented on #32
Awesome, thank you for the quick fix on this matter!

[2019-07-01 04:21] tterb commented on #30
I looked deeper into this issue and it appears that the issue is that the `count.js` script that the `CommentCount` component relies on is not intended to update in realtime and can have a delay of up to 10 minutes.

Nonetheless, I'm going to investigate potential options for providing more responsive comment count data, so I'm going to label this as an enhancement rather than a bug for now.

[2019-07-01 23:43] watawep23 commented on #30
@tterb Noted. Thank you for your help.

[2019-07-02 21:45] mateja176 opened #33 "Loading non-stop"
### Describe the bug
Non-stop loading

![Screenshot from 2019-07-02 23-38-11](https://user-images.githubusercontent.com/33357948/60548509-8bb73780-9d22-11e9-9f9d-2102a7affe12.png)

### To Reproduce
Steps to reproduce the behavior:
  1. `git clone https://github.com/mateja176/react-hot-starter.git`
  2. `cd react-hot-starter`
  3. `npm i`
  4. `npm start`
  5. `start http://localhost:3000/count`

#

[2019-07-04 23:05] tterb commented on #33
@mateja176 Thanks for providing detailed steps to reproduce this issue. I'll look into this and try to help pinpoint the cause.

[2019-07-09 18:10] tterb commented on #33
@mateja176 After removing the `process.env.NODE_ENV === 'production'` in order to load the Disqus component in the development environment, I received this error when attempting to reproduce this issue.

![Screen Shot 2019-07-09 at 11 01 37 AM](https://user-images.githubusercontent.com/16360374/60912022-4ec6d580-a239-11e9-8afb-dea7855b5d88.png)

I was able to load the embedded discussion without a

[2019-07-09 19:03] mateja176 commented on #33
Thanks for having a thorough look. These are my findings based on your suggestion:

1. `<Disqus url={window.location.href} />`
  - Typescript throws an error since url is already provided in the Disqus component ( it's injected by the withRouter HOC )

2. `<Disqus title="count" identifier="count"/>`
  - Compiles without problems however the issue with the indeterminate disqus loader is still prese

[2019-07-09 20:32] mateja176 commented on #33
To make things easier I've created a minimal reproduction [here](https://github.com/mateja176/disqus-demo)

[2019-07-10 06:36] tterb commented on #33
Thanks for providing the reproduction repo.
I cloned and ran the local server and again received the "We were unable to load Disqus" message. Though when I replaced the `const disqusShortname = 'react-hot-starter-dev';` with my own shortname, the embedded discussion loaded as intended.

This leads me to believe that the issue may be caused by your Disqus configuration rather than a problem with th

[2019-07-10 20:43] mateja176 commented on #33
You were right! All that was necessary was to change the `url` property in the disqus config to the match the website url from the admin panel. Thank you so much for your help 🙏

[2019-07-10 20:43] #33 closed

[2019-07-10 20:54] mateja176 commented on #33
@tterb It may be good to document this piece of information for others not get stuck in the same place. Would you like me to create a PR documenting from where to get the `url` from?

[2019-07-10 23:36] tterb commented on #33
@mateja176 I'm glad we were able to track down the problem!
There's also an [alternative approach](https://help.disqus.com/en/articles/1717221-best-practices-for-staging-development-and-preview-sites) that is often recommended for staging/development, though some users prefer the simplicity of using the same URL for development and production.

I agree it would be beneficial to have these options

[2019-07-10 23:42] tterb commented on #31
It looks like this issue has gone quiet, so I'm gonna close it for now.

[2019-07-10 23:42] #31 closed

[2019-07-24 19:52] neohed opened #34 "Component style not updating"
Hi,
I'm using disqus-react with this [gatsbyjs starter project](https://github.com/eggheadio/gatsby-starter-egghead-blog)

The problem is when I use the theme switcher the styles for disqus-react don't update without a page refresh.  I tried passing the theme name into react-disqus as a prop to force an update but that didn't work:

`<DiscussionEmbed theme={themeName} shortname={disqusShortname} c

[2019-07-29 17:06] tterb commented on #34
@neohed I'll look into trying to reproduce this today with the gatsby starter and see if there's a viable solution or if the component can be updated to accommodate style changes.

[2019-07-29 23:40] tterb commented on #34
@neohed I was able to reproduce this issue, and it looks like passing the theme name wasn't forcing an update because the `DiscussionEmbed` components `shouldComponentUpdate` method is only checking for changes in specific props.

I've created a [PR](https://github.com/disqus/disqus-react/pull/35) that I think should address your issue, if you want to test it out and confirm.

[2019-07-30 08:12] neohed commented on #34
@tterb I ran a test just now but still see the same issue. I'll test this more later to confirm...

[2019-07-30 16:57] tterb commented on #34
@neohed Just to clarify, the PR #35 hasn't been merged/published yet so you won't see an  changes unless you pull from that branch and use the local package in the gatsby-starter, instead of the published version from npm.
I just wanted to ensure that the changes fixed your issue before merging it and publishing a new version.

[2019-08-03 09:12] neohed commented on #34
@tterb Thanks for clarifying and for your work on this - it is appreciated. I did pull from the PR branch into a local repo but then didn't know how to import that into my gatsby site. I tried import from the filepath but got compile errors - it seemed like webpack was trying to resolve gatsby dependencies in disqus-react...?

[2019-08-03 22:13] tterb commented on #34
@neohed The easiest way to test the PR locally would be to pull the branch into a local `disqus-react` directory that is in the same parent directory as your `gatsby-starter-egghead-blog/` repo. Then you can `cd` into your gatsby starter and create a [symlink](https://yarnpkg.com/lang/en/docs/cli/link/) to the local package with the command:
[code]

[2019-08-04 11:59] neohed commented on #34
@tterb cool symlink worked great - I learned something new!  And your fix does work. It updates correctly.  What I'm seeing here now seems to be a different bug with my gatsby site where the themeName inside post.js is always "default" even when using "dark" theme...  But that's unrelated to disqus-react.

I can confirm your fix works.  Thanks.

[2019-08-05 04:31] tterb commented on #34
@neohed I'm glad we were able to your fix your issue and I appreciate your responsiveness in providing feedback to help improve the package 👍

I'll merge #35 tomorrow and get a patch published to npm.

[2019-08-05 08:44] DanielW093 opened #36 "Cannot read property 'forumsFollowing' of undefined"
### Describe the bug
I'm not sure what the root cause of this bug is, but sometimes (often) when I try clicking the button on the Disqus component that opens the Disqus overlay, I get the error `Cannot read property 'forumsFollowing' of undefined` in my console. At this point nothing happens, but I cannot interact with my page any longer due to the error.

### To Reproduce
It's happening just when

[2019-08-05 17:15] tterb commented on #36
@DanielW093 Thanks for providing detailed description and reproduction info.
While the described configuration isn't recommended, I will look into trying to reproduce this issue and track down whether it's something that can be fixed within the scope of this package.

[2019-08-05 17:28] DanielW093 commented on #36
@tterb No problem! I'm actually able to reproduce it even when it's just in my component with none of that extra stuff going on, but I'm not 100% sure of the cause.

[2019-08-05 20:15] DanielW093 commented on #36
@tterb If you'd like to reproduce it running in production, you can go to:
https://candywool-games.github.io/blog/posts/bloop-bleep

And click the "Load Comments" button at the bottom, then try opening the overlay.

[2019-08-05 22:45] tterb commented on #36
@DanielW093 I was able to recreate the issue both with and without having the component behind a button, so I'll continue looking into this further and try to track down the cause.

[2019-08-06 09:52] DanielW093 commented on #36
That's good news! I feel better about using the package in its current state knowing that this bug exists in the service itself.

[2019-08-08 22:56] tterb commented on #36
@DanielW093 We appreciate you bringing this issue to our attention, a fix has been merged and will be deployed shortly.

[2019-08-08 22:56] #36 closed

[2019-08-09 17:21] Labedlam opened #37 "Is there a way to update social media buttons?"
For example, I wanted to add a LinkedIn button? Would that be something that can be done on the Disqus dashboard(look there, but didn't have much luck)?

[2019-08-09 22:59] #34 closed

[2019-08-12 04:16] tterb commented on #37
I don't believe that Disqus offers the functionality to add additional social media sharing buttons.

[2019-08-12 04:16] #37 closed

[2019-08-12 04:17] #30 closed

[2019-08-25 09:13] wahlforss commented on #16
@midori0507

Could you explain this in a bit more detail? What is the DISQUS_SHORTNAME variable?

[2019-08-25 09:17] midori0507 commented on #16
I think its a typo, should be `DISQUS_SITENAME`. Its the domain where you tend to deploy to for example `foobar.com`

[2019-09-07 12:28] braindeaf commented on #36
Can you explain how you solved this problem. I'm trying to solve the same error with lightGallery and it's lg-comment solution, which appears to move and reset disqus_thread on each change. Considering trying to use disqus-react as a replacement for their solution. If it makes it simpler to load comments.

[2019-09-07 20:38] tterb commented on #36
@braindeaf The source of this issue was a problem with the way the main Disqus embedded comments section was opening the forum overlay. This shouldn't be an error that can be caused by the implementation of an external package.

[2019-09-09 17:50] nejcr opened #39 "Version 1.0.6 not published to npm"
Looking at the release version [1.0.6](https://github.com/disqus/disqus-react/releases/tag/1.0.6) the fix for #35 was not published to npm.

[2019-09-11 21:16] tterb commented on #39
The fix you referenced wasn't merged until August 9th, which is why it wasn't included in v1.0.6. Though we are due for an update so I'll see if we can get one published in the next couple days.

[2019-10-02 16:35] semyou opened #42 "Deprecation warning"
I get this when I run the module. I think you need to replace componentWillMount

Warning: componentWillMount has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-component-lifecycles for details.

* Move code from componentWillMount to componentDidMount (preferred in most cases) or the constructor.

Please update the following components: DiscussionEmbed

[2019-10-17 06:46] tterb commented on #42
@semyou I've just made a PR that replaces the renamed lifecycle methods in the two components that are triggering these warnings.

[2019-10-21 13:45] Nikolay992 opened #44 "SSO Integration"
I'm introducing Disqus in my platform as Business Account and I need to integrate ti Single Sign On feature. Is it possible to add this feature?

Should be okay adding the remote_auth_s3 and the public_key in the  getDisqusConfig function

[2019-10-25 04:08] tterb commented on #44
@Nikolay992 Yes, there's actually already a PR(#17) for adding SSO integration that I've been meaning to review. I'll see if I can get the SSO credentials to test the PR so we can merge it asap.

[2019-10-31 10:07] cs224 opened #45 "A cookie associated with a cross-site resource at http://links.services.disqus.com/ was set without the `SameSite` attribute."
### Describe the bug
I integrated the disqus-react component in my project and I get the console warning:
A cookie associated with a cross-site resource at http://links.services.disqus.com/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer too

[2019-11-03 06:49] tterb commented on #45
@cs224 Thanks for the report. We're currently tracking this issue internally as this warning needs to be addressed within the Disqus service, rather than the `disqus-react` package.

At this time, it shouldn't cause any unexpected behavior and is more of a way to spread the word and increase developer adoption of the `SameSite` attribute before the described behavior takes effect in 2020.

You can

[2019-11-03 06:49] #45 closed

[2019-11-12 07:06] #42 closed

[2019-11-12 07:26] tterb commented on #16
A note has been added to the README with #38 that details the same functionality @midori0507 has suggested, so I'm going to close this issue.

[2019-11-12 07:26] #16 closed

[2019-11-14 19:09] tterb commented on #44
@Nikolay992 Are you able to confirm that adding the `remote_auth_s3` and `api_key` attributes to the config (as in #17) fixes the issue with your SSO integration?

[2019-11-21 07:18] positimo commented on #30
Hi! The comment count still seems inaccurate, is there any updates on this? Should this issue still be open if it's not fixed?

[2019-11-21 21:02] tterb commented on #30
@positimo As I mentioned above, the `count.js` script that the `CommentCount` component relies on is heavily cached within the Disqus service.
At this time there isn't an alternative way of retrieving a real-time comment count, but I have shared this concern with the team internally.

[2019-11-22 10:11] positimo commented on #30
Right, OK, I was just surprised to not find this issue immediately although it's still pending..

[2020-01-28 04:50] hsh2001 opened #59 "Warning: componentWillUpdate has been renamed"
### Describe the bug
Error when using component.

### To Reproduce
Steps to reproduce the behavior:
  1. Render `Disqus.DiscussionEmbed` component.

### Expected behavior
No errors!

### Screenshots
<img width="430" alt="스크린샷 2020-01-28 오후 1 48 03" src="https://user-images.githubusercontent.com/32220765/73236189-cf98ef00-41d4-11ea-8839-97f33c41e367.png">

### Specifications:
 - OS: `macOS

[2020-02-06 18:27] #25 closed

[2020-03-03 12:54] liesislukas opened #60 "misleading demo code at homepage"
troubleshooting says that URLs must match, while code hints that it should be url to article. So which option is the correct one? Should it be url to article or homepage?

![image](https://user-images.githubusercontent.com/2733862/75777467-b39de580-5d5e-11ea-8db7-04fdf3cf6490.png)

the issue is that in any case, comments are not loading and there is no related issues in console or else.

![image](

[2020-03-04 18:34] tterb commented on #60
Hey @liesislukas, the intention of that message was to clear up confusion around users attempting to use their local `https://localhost:8000/path-to-article` URL in the config.
Though now that you bring it up I can see how the wording could be potentially misleading.

I will update the copy in the README with a more descriptive explanation.

[2020-03-09 20:16] poohitan opened #61 "Add onReady and other callbacks supported by Disqus"
Disqus supports more than only `onNewComment` callback, e.g. `onReady`, `onInit`, `onPaginate`, etc. It would be very useful to add and document these callbacks.

[2020-03-16 10:28] poohitan commented on #61
I'm ready to prepare a PR if repo maintainer approve.

[2020-03-23 06:50] sag1v commented on #18
Does `disqus` even support dynamic theme change? I inspected the `window.DISQUS` object and didn't see anything useful for changing it

[2020-03-23 07:18] tterb commented on #18
@sag1v You're right, there isn't currently anything in the Disqus script for dynamically modifying the theme. Though if you'd like for Disqus to adapt to the dark/light themes for your site, this can accomplished by triggering the component to update after the theme change by passing the theme as a prop to the component.
So for instance you could have something like this:
[code]
Where the `theme`

[2020-03-23 07:19] tterb commented on #61
@poohitan PRs are always welcome!
Tag me when you submit the PR and I can review it.

[2020-03-23 08:24] sag1v commented on #18
@tterb Not sure i follow.
You're saying that we can dynamically set the them?

[code]
This will set the theme to dark?

[2020-03-23 10:43] poohitan commented on #61
@tterb submitted a PR

[2020-03-24 06:35] #61 closed

[2020-03-24 06:41] tterb commented on #59
@hsh2001 It looks like this was already fixed in #43, but the changes just haven't been published to npm yet.
I'll try to get an update published with these changes in the next couple days.

[2020-03-24 06:50] tterb commented on #18
@sag1v Okay, I see what you mean.
My best advice in that case would be to defer passing the updated state to the `DiscussionEmbed` component until the transition completes, because as you mentioned the `embed.js` script that is used to load the embedded discussion doesn't currently support this functionality.

[2020-03-24 08:32] sag1v commented on #18
Yeah this is what i ended up doing. I wish we had a better way of doing it though

[code]

[2020-03-25 20:30] poohitan commented on #61
@tterb when do you plan to publish the last version on NPM?

[2020-03-25 22:20] tterb commented on #61
@poohitan I'm hoping to get a new version published by the end of the week.

[2020-03-26 04:07] tterb commented on #44
Fixed with #17

[2020-03-26 04:07] #44 closed

[2020-03-26 05:31] #60 closed

[2020-03-26 05:59] tterb commented on #59
[v1.0.8](https://www.npmjs.com/package/disqus-react) has been published to npm

[2020-03-26 05:59] #59 closed

[2020-03-26 06:07] tterb commented on #18
I'm going to close this issue since there isn't anything that can be done to further support this functionality within this package at this time, but I have added the provided explanation to the [FAQ page](https://github.com/disqus/disqus-react/wiki/Frequently-Asked-Questions) and I will pass on this feedback to the rest of the Disqus team so that we can aim to improve on this functionality in the

[2020-03-26 06:07] #18 closed

[2020-05-03 04:49] joyfulelement commented on #12
Part of the enhancements: **language support** is now available in #66. This can be configured via the `language` property. See https://github.com/disqus/disqus-react/blob/7f08fc848035aff4de9dca08e678e9adcd3a437a/README.md#language-configuration for detail.

[2020-05-04 01:55] tterb commented on #12
The language support has been added by #66 and support for category_id has been added by #67, so I'm going to close this out.

[2020-05-04 01:55] #12 closed

[2020-05-12 21:53] buxzee opened #70 "The comments thread is empty"
I have installed this plugin on my gatsby site, the widget appears but the comments are zero in all posts. The site is hosted on a temporary domain but I tried to pass the short name and the original site URL combination as given below:

Here slug is the post slug

[code]

Please advise what am I doing wrong, how can I fix this issue so that the post associated comments can be displayed.

[2020-05-19 00:49] tterb commented on #70
@buxzee I believe the issue might be that you are sending the `siteUrl` as the `identifier`, rather than the `url`. Though you will want to ensure that you specify the same config values on your gatsby site that you do on the original site.

[2020-06-16 07:33] mjachyra opened #72 "New version was not published to npm"
When a new version will be published to npm? Mainly I'm looking for a new release with language support #66

[2020-06-17 06:04] tterb commented on #72
@mjachyra Sorry about that.
The new version [`v1.0.9`](https://www.npmjs.com/package/disqus-react/v/1.0.9) has been published to npm.

[2020-06-17 06:04] #72 closed

[2020-07-14 16:18] bekju opened #74 "shouldComponentUpdate bug"
### Describe the bug
Even if the same props are passed the DiscussionEmbed rerenders.

### To Reproduce
Steps to reproduce the behavior:
  1. Add discussion embed component with props
2. rerender the parent component of discussion embed
3.  even if the same props are passed it rerenders the whole component (new iframe loads)

### Expected behavior
in shouldComponentUpdate `this.props === nextProps

[2020-07-15 02:07] tterb commented on #74
@bekju Thanks for reporting the issue, I'll take a look and try to track down the issue in `shallowComparison` function.

[2020-07-15 03:17] tterb commented on #74
@bekju I believe I was able to locate the source of the issue and have created a PR(#75) with a fix. Would you be able to pull that branch and ensure that it resolves your issue?

[2020-07-29 14:23] ardalis opened #77 "Cannot Read Property appendChild of null"
### Describe the bug
Disqus discussion not showing up on page; getting this error in console:

![image](https://user-images.githubusercontent.com/782127/88812139-6135e900-d185-11ea-8308-2a25e29baf84.png)

### To Reproduce
Steps to reproduce the behavior:
  1. Go to https://ardalis.com/data-access-principles/
  2. Open dev tools to see error. Note absence of Disqus on the page.

### Expected behavi

[2020-08-03 19:07] tterb commented on #77
@ardalis Thanks for the report!
I'll investigate potential causes this evening and see if we can get this resolved asap.

[2020-08-04 04:32] tterb commented on #77
@ardalis I tried to do some troubleshooting and it appears that the issue is occurring in the `embed.js` script, which is failing to find the `#disqus_thread` container on the page.
I can try to help you determine why this is happening if you can provide an example repo that can be used to reproduce the issue locally.

[2020-08-04 10:07] mosamlife opened #79 "Can we have multiple Disqus instances in SPA(react)?"
### Is your feature request related to a problem? Please describe.
Currently, library supports only one instance in the DOM for DiscussionEmbed component.

### Describe the solution you'd like
I need multiple instances for DiscussionEmbed at one time. We are currently displaying 10 blogposts on a single page. Each blogpost will have its own Disqus instance.

[2020-08-04 12:37] ardalis commented on #77
Thanks, it's here:

https://github.com/ardalis/ardalis-com-gatsby

[2020-08-06 19:57] tterb commented on #79
@mosamlife Unfortunately, it isn't possible to have two Disqus thread instances loaded on a page simultaneously, but you should be able to achieve similar functionality with the current component.
Depending on how your page is configured, you could update the `disqus_config` that is being passed to the component to match the post that is currently in the viewport.
Without an example repo I'm not r

[2020-08-06 19:59] tterb commented on #70
Since this issue has gone silent, I'm going to assume that this was resolved and close it for now.

[2020-08-06 19:59] #70 closed

[2020-08-07 19:53] #74 closed

[2020-08-09 00:25] tterb commented on #77
@ardalis When I spin up the site locally I'm seeing the Disqus thread load correctly, which makes me believe that the issue might be related to the `isCmsPreview` ternary that the `DiscussionEmbed` is being loaded within. Though, I admittedly don't know much about the CMS setup you're using.
Have you tried pulling the `DiscussionEmbed` outside of the ternary and seeing if the thread is loaded in p

[2020-08-12 11:04] janakiramg commented on #79
Hi All,
I am having similar issue. Here are more details:
1. We have a application developed using Gatsby + React. I am trying to add comment functionality to this application using disqus
2. Installed disqus-react npm package
3. And added below code to two .js files with different uri, identifier and title.
[code]
4. Disqus comment section is successfully loaded in both pages and I am able to add

[2020-08-12 19:33] tterb commented on #79
@janakiramg If you could provide a link to a repo that I could use to troubleshoot the issue I could be more helpful, but it sounds like you might not be providing each thread with a unique `identifier`.
You can find more info about this in the [Knowledge Base](https://help.disqus.com/en/articles/1717138-why-are-the-same-comments-showing-up-on-multiple-pages).

[2020-08-12 19:53] janakiramg commented on #79
Can I share zip file with you ?  I can email zip to you.

[2020-08-12 20:24] janakiramg commented on #79
Thanks for sharing information. We are using private github repo and I don't have permission to add you to github repository.
I have two simple .js files and I am using different identifier, Url for both these pages. I have go through the link that you shared, do I have to include both <DiscussionEmbed .... > element and embed javascript variables to make it work ?

[2020-08-12 20:35] tterb commented on #79
You don't need to include the embed javascript variables, as those are handled within the `DiscussionEmbed` component. So as long as the `identifiers` that you are passing for each page are unique that shouldn't be a problem.
Since you are using Gatsby, in most cases you should be able to get a generated `id` from the GraphQL query to ensure that they are unique.

Could you provide the `url` and `

[2020-08-12 20:38] janakiramg commented on #79
Sure.
Page 1
[code]

Page 2

[code]

[2020-08-12 20:42] tterb commented on #79
Is `${process.env.DISQUS_SITENAME}` pointing to the production URL or localhost?

[2020-08-12 20:43] janakiramg commented on #79
localhost for now to test from local
[code]

[2020-08-12 20:49] tterb commented on #79
There have been a few different issues that people have run into trying to use localhost to load the components locally as noted [here](https://github.com/disqus/disqus-react/wiki/Frequently-Asked-Questions#im-having-issues-getting-the-components-to-load-on-localhost), so you're going to want to have that point to the production URL.
Additionally, passing production and development URLs to the com

[2020-08-12 20:54] janakiramg commented on #79
Ok. I will deploy these changes into production and test there. I will update status here.

[2020-08-12 20:56] tterb commented on #79
You shouldn't actually have to deploy anything to production, you can just have it point to the production URL when running locally.

[2020-08-12 20:59] janakiramg commented on #79
Right, Sure I will test that by changing URL in local

[2020-08-12 21:11] janakiramg commented on #79
I changed DISQUS_SITENAME URL to production URL and tested. Same issue. Same comments are displayed on both pages.

[2020-08-12 21:15] tterb commented on #79
That is likely because of the issue we've discussed.
Can you try providing the pages with a new `identifier` or loading the component on a new page with a new `url` and `identifier`?

[2020-08-12 21:21] janakiramg commented on #79
Awesome. Working now. thank you so much. Basically localhost was the issue.

[2020-08-31 15:31] gaurav-mishra8 commented on #45
Hello @tterb, I am also facing this issue.
Has there been any change from chrome version 84+ ?

[2020-09-01 04:47] tterb commented on #45
@gaurav-mishra8 I'm currently using Chrome v84.0.4147 and I am seeing some warnings about SameSite attribute but I'm not getting any messages saying any of them have been blocked.
Nonetheless, I will bring this up to the team so that we can investigate it further and keep it on our radar.

[2020-09-22 08:45] tastypurgen commented on #79
I have the same issue but changing localhost to prod URL don't help. I have a unique identifier on all pages but comments are the same.

[2020-09-22 10:51] tastypurgen commented on #79
Also I've noticed all my posts try to fetch one specific thread. Could you please explain how are these numbers obtained?
![image](https://user-images.githubusercontent.com/43437265/93873531-84d76480-fcda-11ea-98fa-fed65310dd2e.png)

[2020-09-30 06:49] bsgreenb opened #82 "TS Error: Statements not allowed in ambient contexts"
### Describe the bug
```../node_modules/disqus-react/types/index.d.ts:7:2 - error TS1036: Statements are not allowed in ambient contexts.  7 };```

### To Reproduce
Import disqus-react on TS, unless there's some special integration bug going on.

### Expected behavior
Should not have type error.

### Screenshots
![image](https://user-images.githubusercontent.com/980217/94651886-fea8b880-02ad-11eb-

[2020-10-01 17:51] tterb commented on #82
@bsgreenb Thanks for reporting the issue!
Feel free to submit a PR if you have a solution to the problem, otherwise, I can probably look into it over the weekend.

[2020-11-13 04:17] jarodtaylor commented on #45
Looks to still be an issue in Chrome 85.

[2020-11-20 10:54] allthetime opened #83 "url and identifier not making a difference, all comment boxes are the same"
On my page, I render a list of posts with a "SHOW COMMENTS" button that reveals the `DiscussionEmbed` element:

[code]

here is the `showComments` function, which fires when the button is pressed, reset DISQUS from its window object and sets `currentPost` which then shows the `DiscussionEmbed` component that matches:

[code]

Anyway, all the comment blocks are the same / have the same comments. If

[2020-11-20 14:15] allthetime commented on #83
I solved it, and it doesn't really make sense why. Looks like a disqus problem:

This does not work:

                        <DiscussionEmbed
                            shortname={'https-allthetime-github-io'}
                            config={
                                {
                                    url: MY_URL+p.filename,
                                    identifier: p.filenam

[2020-11-26 23:24] tterb commented on #83
@allthetime Do you have an example repo that I can use to reproduce this issue?

[2020-12-12 16:29] natnaelawel opened #85 "won't work with react 17"
how to work with react version 17

[2020-12-13 22:05] GoldinGuy commented on #85
Same issue here

[2020-12-14 21:43] squillen commented on #83
I had this same problem but with reactions (didn't have any comments yet)--adding a reaction on one page added it to all pages. I added the fix from @allthetime and now it works. It's kind of strange because before that fix I was setting the identifier as either `${_id}_prod` or `${_id}_dev` depending on my environment, which is kind of similar to the current "fix".

My code is exactly as is below

[2020-12-16 23:06] jordie23 opened #86 "Uncaught TypeError: Converting circular structure to JSON"
### Describe the bug
When using the DiscussionEmbed component this error is generated:

[code]

It appears that embed.js is trying to stringify the config to use sendMessage, which includes a reference to the DIV container for the discussion, but that includes react references in it which are circular.

### To Reproduce
Steps to reproduce the behavior:
  1. Clone this repo
  2. npm i && npm run bu

[2020-12-17 09:42] timtnleeProject commented on #85
Hi @natnaelawel ,
I use `"react": "17.0.1"` and it works,
what problem or error did you encountered?

[2020-12-18 04:49] jordie23 commented on #86
@tterb Sorry to ping you, but I'm hoping you can get this to the right person (if it's not you) at disqus.

[2020-12-18 05:36] tterb commented on #86
@jordie23 No worries, with the GitHub notification setup sometimes it can be hard to catch when a new issue is opened.
I'll look into this and see if I can track down the cause.

[2020-12-18 11:53] Bouhoum commented on #86
experiencing the same problem with the gatsby plugin `"gatsby-plugin-disqus": "^1.2.2"`
throws same error and keep refreshing the page

[2020-12-18 21:04] donaldboulton commented on #86
Same for me in my Gatsby site with disqus-react not gatsby's plugin, it started after I turned off Auto Site Content in Disqus Admin settings then this error started showing up.
The Auto Site content at the top of Disqus just started showing up yesterday and I turned it off today so something they have does recently.

[2020-12-18 21:12] tterb commented on #86
@donaldboulton What do you mean by the "Auto Site Content" setting in Disqus Admin?

[2020-12-18 21:40] tterb commented on #85
@natnaelawel As @timtnleeProject mentioned, we're gonna need some more specific information to help you troubleshoot your issue.

[2020-12-19 14:45] donaldboulton commented on #86
At the top of my disqus was a list of my other pages or site content and it displayed the pages in a  carousel display, with a ugly browser scroll bar, and it or disqus had to go.
Turned it off and it was called Auto something and it had to do with enhancements, I am no disqus expert so that's all I can tell ya.
Is and error on publiuslogic.com blog pages, in embed.js And has nothing to do with co

[2021-01-04 20:52] tterb commented on #86
I've made the team aware of this issue and we're going to try to track down the cause ASAP.

[2021-01-05 00:54] jordie23 commented on #86
Thanks @tterb ! :)

[2021-01-06 21:22] marcossilvabr commented on #30
Hi :)
Just wanted to know if we have any news on this or if is still an issue. On my side, it is not working properly and I don't know if this is still a bug or if I'm doing something wrong. Thanks

[2021-01-12 23:39] brharper-clgx commented on #83
Having the same issue and the "solution" isn't working for me.

[2021-01-13 18:34] tterb commented on #83
This is a common issue and is usually an indication of a problem with the individual implementation, but I'm unable to help troubleshoot the issue without a sample repository to reproduce the issue.
Though, I can confirm that this is not an issue on the Disqus side.

@squillen If the reactions are being shared across multiple pages then the comment threads would have the same issue. From the snipp

[2021-01-13 19:07] marcofranssen opened #87 "DiscussionEmbed has some issues rendering to Html"
### Describe the bug

Disqus fails to load and displays following message on the page. This is probably caused by some things not rendering accordingly to HTML

`We were unable to load Disqus. If you are a moderator please see our troubleshooting guide.`

### To Reproduce

I have embedded following component in my Next.js page. I'm running on `React 17`.

[code]

When looking in the html it shows

[2021-01-14 09:17] marcofranssen commented on #87
Above code was not compltely representative as I was reading my shortname from an environment variable. I moved that out of this component to a Next.js page so I could populate this from the backend.
Now all works as expected.

[2021-01-14 09:17] #87 closed

[2021-01-14 12:14] mitchobrian commented on #86
Same issue on my side:

helpers.js:88 Uncaught TypeError: Converting circular structure to JSON
    --> starting at object with constructor 'HTMLDivElement'
    |     property '__reactInternalInstance$h7a2xt4hra4' -> object with constructor 'FiberNode'
    --- property 'stateNode' closes the circle
    at JSON.stringify (<anonymous>)
    at b.Channel.h.sendMessage (embed.js:44)
    at e.<anonymous

[2021-01-14 17:54] tterb commented on #86
@mitchobrian @jordie23 We have a solution for this issue that will be deployed later today.

[2021-01-14 18:46] mitchobrian commented on #86
GREAT ! ;)

[2021-01-14 20:41] tterb commented on #86
The fix just went out, so I would expect that you should stop seeing these issues once the caches clear.
I'm going to leave this issue open for the next couple of days to make sure the problem doesn't persist for anyone and then I'll close it out.

[2021-01-14 20:42] tterb commented on #77
This issue has gone quiet, so I'm gonna close it out for now.

[2021-01-14 20:49] tterb commented on #85
I'm assuming that this might've been confusion over React v17 not being listed as a peer-dependency in the `package.json` which has been fixed in #88, so I'm gonna close this out for now.

[2021-01-14 20:49] #85 closed

[2021-01-14 20:58] mitchobrian commented on #86
Good job. Error disappears... What was the problem?

[2021-01-14 21:08] tterb commented on #86
The issue was related to a recent change that modified the data being passed between the comment thread iframe and the sidebar iframe that is used to show user-profiles and community information. The change indirectly added an attribute that contained an HTMLElement to the data being sent, which when passed to `JSON.stringify()`, resulted in the circular structure error you were seeing.

[2021-01-15 02:22] jordie23 commented on #86
Awesome thanks @tterb ! I can confirm the error has gone from our site too. 👍 I appreciate it a lot!

[2021-01-25 02:56] joshuaavalon commented on #85
@tterb Is there any information on when on it will be released? I am using npm@7 which changes on how it handles peer dependency and I need the update to stop it from complaining.

[2021-01-25 20:24] tterb commented on #86
I'm gonna close this out since it appears that the issue is resolved for everyone.

[2021-01-25 20:24] #86 closed

[2021-01-25 21:56] tterb commented on #85
@joshuaavalon I just published the patch so v1.0.11 should be available now.

[2021-01-31 03:29] MaxPRafferty commented on #83
Clue: `test_post_0` works, but `test-post_0` does not. It appears these strings are character restricted.

[2021-02-13 11:35] mikecann opened #89 "config is [object Object] when rendered to the DOM"
### Describe the bug

It seems like the config object is being searialised into a HTML attribute

<img width="248" alt="chrome_v8OB8T7XOi" src="https://user-images.githubusercontent.com/215033/107848924-7a0ca000-6e32-11eb-8629-841e3c9d39f5.png">

Usage like:

[code]

Example found: https://mikecann.co.uk/posts/the-cube

Any ideas?

[2021-02-16 18:19] tterb commented on #89
@mikecann It looks like this is because we're currently spreading the props that are passed to the component to allow users to specify additional attributes (className, id, etc...).
This shouldn't have any effect on the functionality, but it would probably be best to filter out the config object before passing it to the JSX element.

[2021-02-16 23:26] mikecann commented on #89
Ah okay no worries :) Feel free to close this.

[2021-02-20 09:52] kyager commented on #83
I had the same problem using the DiscussionEmbed example.  The fix mentioned earlier didn't work, but I was able to get it working by using setState and useEffect, and a loading prop.

`
const [disqusConfig, setDisqusConfig] = useState({});
`
...
`
setDisqusConfig({
 url: "https://mywebsite.com/" + post.slug,
 identifier: post.id,
 title: post.title
});
`
...
`
<DiscussionEmbed
 shortname="my-web-

[2021-03-02 19:52] SalahAdDin opened #90 "Can't set categories for my posts"
### Describe the bug
We are passing the categories to the post by the settings and it is not reflected on the **Disqus** dashboard.

### To Reproduce
Steps to reproduce the behavior:
  1. First, setup the next code:
[code]
where:
[code]
  2. Publish a new blog on your site with _front-end_ as first tag., it uses **NextJS** `10.0.5`.
  3. Go to the dashboard, Tools > Discussions.
  4. The new post

[2021-03-06 05:17] tterb commented on #90
@SalahAdDin Thanks for the report.
It looks like the package isn't configured to handle the category variable and pass it to the `disqus_config`. It shouldn't take too much work to add this functionality, so I can try to put up a PR in the next couple days.

[2021-03-06 08:59] SalahAdDin commented on #90
@tterb Thank you!

[2021-03-07 02:52] tterb commented on #90
@SalahAdDin I just noticed that the package actually does allow you to pass the category ID, but the param is camel-case (ie: `categoryID` instead of `category_id`).

[2021-03-07 10:12] SalahAdDin commented on #90
Oh, my mistake them, let me check.

[2021-03-18 17:58] tterb commented on #90
@SalahAdDin I'm gonna assume that this solution worked and close this out, but you can reopen the issue if you're still experiencing issues.

[2021-03-18 17:58] #90 closed

[2021-03-18 19:56] SalahAdDin commented on #90
@tterb `categoryId` or `categoryID` (first one is more camelCase)?

[2021-03-24 22:34] #89 closed

[2021-03-25 10:20] Oyyko opened #93 "url wrong: url has two slash so that cannot be directed to the right page."
### Describe the bug
A clear and concise description of what the bug is.

url in `xxx.disqus.com/admin/moderate/approved` has two slash(//), which makes it unable to render the comment area. Besides, when using shared links, the same reason will make a same trouble. For more detials, please see [here](https://github.com/crystal-lang/crystal-website/issues/62) and [here](https://github.com/casbin/c

[2021-03-30 17:59] tterb commented on #93
@Oyyko In the meantime, it looks like the share-links can be fixed by the site-owner by removing the backslash from the end of the **Website URL** at https://crystal-lang.disqus.com/admin/settings/general/

[2021-04-01 15:09] Oyyko commented on #93
Thanks for your attention. However, I tried to remove the backslash but it seems that nothing happened. Really a strange bug.

[2021-04-03 17:37] asfernandes commented on #79
I'm trying to use `DiscussionEmbed` in a `next.js` app and when the page is soft reloaded I have the error

[code]

If I hit F5 the page works.

The component is used in my `id` page.

[2021-04-03 23:21] tterb commented on #79
This issue has gotten a little hard to follow with all of the various issues being brought up, so I think it's probably best to close this one out and allow people to create individual issues for any outstanding problems.

@asfernandes Can you create a new issue with the provided information and a link to public repo that can be used to reproduce your issue?

[2021-04-03 23:21] #79 closed

[2021-04-05 11:51] acelaya commented on #77
I have reproduced the same issue with latest version, 1.0.11

I'll investigate a bit further to see if I can reproduce the specific circumstances in which this happens, because it only happens with a certain combination of actions and not always.

This is the project in which I use this: https://github.com/acelaya/alejandrocelaya.blog

[2021-04-05 17:18] acelaya commented on #77
Hey @tterb.

So, I have investigated a bit and the problems seems to be related with the fact that the [`insertScript`](https://github.com/disqus/disqus-react/blob/259f9682c6f7af680287e095d7b3cb2a6bcdb1d9/src/utils.js#L4) function is being called by the `DiscussionEmbed` component (and probably `CommentCount` too), but providing the `window.document.body` object as the parent of the script.

The p

[2021-04-06 05:00] tterb commented on #77
@acelaya Thanks for tracking this down!
I think your suggested solution sounds reasonable and PR's are always appreciated and can speed up the process.

I'll reopen this issue now so we can make sure it gets resolved.

[2021-04-06 09:26] acelaya commented on #77
So, I have started implementing the fix, and I have found out a two things.

The first one is that the error is not actually thrown by this library. The `appendChild` executed in the `insertScript` function actually works, and the `embed.js` file gets properly loaded, which means the `document.body` object is not `null` as I suspected.

The error seems to be somewhere in the code loaded there, ins

[2021-04-06 18:08] tterb commented on #77
@acelaya The `recommendations.js` is part of a new Disqus feature that allows publishers to load Recommendations as a standalone app (There is already  #94 to add this functionality to this package). Though in an attempt to maintain the previous experience of loading Recommendations alongside the comment thread for publishers, the app can also be loaded adjacent to the comment thread by the `embed

[2021-04-08 04:20] tterb commented on #77
@acelaya A potential fix was deployed earlier today that should resolve the issue you were experiencing.
I'm no longer seeing the error on the site you linked, but I'll wait on your confirmation to close this issue out.

[2021-04-08 06:09] acelaya commented on #77
Yep, I can't reproduce it anymore and the comments load properly every time.

Thanks!

[2021-04-09 17:29] tterb commented on #77
@acelaya Great! Thanks for your help reporting and diagnosing this issue!

[2021-04-09 17:29] #77 closed

[2021-04-09 22:17] lacardonap commented on #93
I don't know if this is the right place, but I want to share a gif that shows how leaving two slashes in on the main page causes the page to reload infinitely.

Tested:
Google Chrome Version 89.0.4389.90 (Official Build) (64-bit)
Mozilla Firefox Version 87.0 (64-bit)
![infi_reload_page](https://user-images.githubusercontent.com/8827336/114246093-5f006d00-9957-11eb-8688-0877eb24f916.gif)

[2021-04-23 12:46] MiKr13 commented on #5
Still facing the same error in 1.0.11 version.

[2021-04-23 15:39] hsluoyz commented on #93
@tterb our URL was already without ending slash

![image](https://user-images.githubusercontent.com/3787410/115895497-12f01500-a48d-11eb-88a3-8216310bb4b9.png)

[2021-05-06 19:42] tterb commented on #5
@MiKr13 Can you open a new issue describing the issue you're experiencing?

[2021-05-20 17:25] AbhinavRajesh opened #100 "Disqus SSO"
I have looked through the FAQ and found no similar questions

Does this support SSO? I have seen a PR merge but I'm not able to use SSO. Am I doing something wrong?

[code]

[2021-05-21 08:08] AbhinavRajesh commented on #100
Nvm, I think SSO is only supported on Business subscription and mine is not a business subscription

[2021-05-21 08:08] #100 closed

[2021-06-18 08:58] lucascaton opened #104 "[TypeScript] Module '"disqus-react"' has no exported member 'Recommendations' ts(2614)"
`Recommendations` component was introduced in PR #94 (which is great!) but it doesn't seem to have type definitions ([like other components do](https://github.com/disqus/disqus-react/blob/master/types/index.d.ts)).

### To Reproduce

Import the component:

[code]

And this TypeScript error is displayed:

[code]

### Specifications:
 - OS: macOS Big Sur (11.4)
 - Package version: 1.1.0
 - Node vers

[2021-06-21 17:24] tterb commented on #104
@lucascaton Thanks for the report!
I should be able to get a PR up for this today.

[2021-06-21 20:18] tterb commented on #104
@lucascaton I put up #105 to resolve this issue, but it would be great if you could take a look since I'm admittedly not very familiar with Typescript.

[2021-06-23 06:47] lucascaton commented on #104
Just tested, all good @tterb. Thanks! 😃

[2021-06-25 02:45] #104 closed

[2021-06-25 02:46] tterb commented on #82
This should be resolved by #105

[2021-06-25 02:46] #82 closed

[2021-07-07 23:38] adamkjonesgit opened #106 "Multiple Disqus Boards with Unique ShortNames on one Page"
Hello.  I'm trying to add multiple disqus threads to one page where each one has a unique shortname.  Below is my html and script attempts.  I cannot get it to work.  This is a single page with simply a list of topics on the left where a user can click the topic and on the right the disqus thread will show.  Each disqus thread has a unique shortname.  I can get the threads to show; however, the sh

[2021-07-09 14:54] hsluoyz commented on #93
Hi @tterb , any update on the double slashes issue?

[2021-07-12 17:47] tterb commented on #93
@hsluoyz @Oyyko A member of our support team investigated this issue and found that the reason for the double-slashes in URLs is a result of the `url` that is being set in the `disqus_config` containing double-slashes.

You can fix the issue on existing threads by updating the thread URLs using the [URL Mapper](https://help.disqus.com/en/articles/1717129-url-mapper) and prevent the issue from occu

[2021-07-13 08:58] hsluoyz commented on #93
Hi @tterb , thanks for your reply! About this part:

I think we don't have double slashes in our config: https://github.com/casbin/casbin-website/blob/master/website/static/js/disqus.js But it's still happening on new threads. Why?

[code]

[2021-07-13 17:13] ErikQQY commented on #93
@hsluoyz I am trying to solve this issue

[2021-07-13 17:35] tterb commented on #93
I don't see an issue in the above code snippet that would cause new threads to have double backslashes in the URL and I'm not seeing any incorrectly formatted URLs at https://casbin.disqus.com/admin/discussions/.

Though, I did find the issue in `crystal-lang.org` [here](https://github.com/crystal-lang/crystal-website/blob/af07adfccb686e5890b2dd6f687458d55eede2a6/_layouts/post.html#L41) as the `pa

[2021-07-14 06:17] hsluoyz commented on #93
@tterb but for this page: https://casbin.disqus.com/admin/moderate/approved , you can see the double slashes here:

![image](https://user-images.githubusercontent.com/3787410/125572569-150bc739-9597-40c0-93c3-fea2b8db1a03.png)

[2021-07-16 19:02] tterb commented on #93
@hsluoyz Is that a thread that you've already updated the URL for using the [URL Mapper](https://help.disqus.com/en/articles/1717129-url-mapper) I mentioned earlier?
Also, could you provide a link to a newly created thread where you're seeing the issue?

[2021-07-22 07:29] joehuggans opened #107 "Is there a way to tell when the component has loaded?"
I am using loco scroll and when the disqus component loads I need to refresh things so that the new page height is taken into account.

I am just wondering whether there is a way to detect this?

[2021-07-26 03:41] ErikQQY commented on #93
@tterb Thanks for your help, I have already updated the URL using URL Mapper, the issue is now solved.

Besides, when I use the URL Mapper, the csv file containing comments doesn't covers all of our comments, so I have to edit some links directly in admin portal.

[2021-07-26 03:45] hsluoyz commented on #93
@tterb thanks for the help! I confirmed that the issue has been fixed. Feel free to close this issue :)

[2021-07-30 22:52] tterb commented on #107
@joehuggans You should be able to use the `onReady` or `afterRender` callbacks to detect when the component is finished loading.

[2021-08-02 02:57] renomureza opened #108 "<link ... in Head Tag Not Cleaned"
I'm using Nextjs,

When I navigate from a page with no comments to a page with comments repeatedly, Disqus keeps inserting the <link... tag in <head>.

![image](https://user-images.githubusercontent.com/49445216/127798526-254819bc-1637-4dc4-9884-276961ab9884.png)

[2021-08-03 19:45] tterb commented on #108
@renomureza Thanks for reporting this issue. It looks like there might be an issue with the cleanup process.
Do you have a public repo that I can use to reproduce this issue?

[2021-08-04 11:52] renomureza commented on #108
Hi @tterb you can check it out here:
- https://codesandbox.io/s/next-disqus-eid24?file=/pages/with-disqus.js
- https://eid24.sse.codesandbox.io/

[2021-08-09 20:45] #93 closed

[2021-08-09 20:50] tterb commented on #106
@adamkjonesgit Unfortunately, there isn't a way to have multiple threads with unique shortnames on one page. I would suggest trying to use one shortname and differentiating the threads by topic using a `categoryId`.
You can learn more about using categories on the Disqus knowledge base: [Using categories](https://help.disqus.com/en/articles/1717177-using-categories)

[2021-08-09 20:50] #106 closed

[2021-08-13 19:42] tterb commented on #108
@renomureza I just put up a PR(#111) to fix this issue. It would be great if you could pull the branch and make sure that it resolves your problem before merging.

[2021-08-15 05:05] renomureza commented on #108
@tterb It works fine, in `<header>` it's clean.

But, I noticed at the end of the <body> tag there is an `<iframe>` which has the same behavior, not cleaned.

![image](https://user-images.githubusercontent.com/49445216/129467648-1277df27-a75a-4926-943d-ddfac45471eb.png)

[2021-08-18 22:34] jarodtaylor opened #112 "Add/Expose additional API offerings"
### Is your feature request related to a problem? Please describe.
It would be nice to be able to use other APIs available from Disqus (e.g. listMostActiveUsers, listMostLikedUsers, etc)

### Describe the solution you'd like
Either a way to expose these APIs so we can build our own UI with the data, or create more exports for listMostActiveUsers, etc.

[2021-08-21 07:29] tterb commented on #112
@jarodtaylor The endpoints you referenced are already exposed through the [Disqus API](https://disqus.com/api/docs/).

[2021-08-21 07:29] #112 closed

[2021-08-23 21:12] tterb commented on #108
@renomureza Nice catch!
I've updated the PR to also remove the referenced iframe.

[2021-08-24 04:23] renomureza commented on #108
@tterb Yes it works, everything is as expected. 🥳

Waiting for release.

[2021-08-24 17:53] #108 closed

[2021-08-24 17:54] tterb commented on #108
@renomureza Thanks for your help!
I'll try to get a new version of the package published to NPM later today.

[2021-08-25 08:13] brokul-dev commented on #108
Hi!
I've updated `disqus-react` package to the newest version. Scripts from `head` and Disqus `iframe` are removed but there is still one `iframe` that is not deleted. Here is the result after few roundtrips:

![image](https://user-images.githubusercontent.com/78214221/130751844-49eb4267-8749-4424-9cd8-54e65aaa056f.png)

Worth noticing that these iframes do not have `title` attributes. This attrib

[2021-08-30 21:31] tterb commented on #108
@renomureza @brokul-dev Unfortunately, due to the lack of attributes on that iframe there isn't really a way of targeting them for removal that wouldn't cause unintended consequences for any other iframes on the page.

[2021-09-08 18:01] sysRoot opened #113 "DiscussionEmbed fails PropType Check for config Object, complains for String"
Disregard. I'm novice.

### Describe the bug
DiscussionEmbed's config prop says it would like a string not an object, fails proptype check

### To Reproduce
Run `disqus-react` as of 9/8/2021 @ 2PM EDT

### Expected behavior
I expected Disqus-React's DiscussionEmbed to load, but config complained about it being an object, and that it should be a string. PropType check fails

### Screenshots
![image

[2021-09-28 21:14] tterb commented on #113
@sysRoot This is the expected behavior because the `config.identifier` is supposed to be a string.

[2021-09-28 21:14] #113 closed

[2021-10-12 02:50] idiglove opened #115 "Disqus DiscussionEmbed disappears on mobile"
### Describe the bug
The embed loads but after certain time the iframe disappears, thus the comments are not displayed anymore

### To Reproduce
Steps to reproduce the behavior:

I'm using it as
[code]

### Expected behavior
The iframe shouldnt be gone and still persist

### Screengrab
https://user-images.githubusercontent.com/29911508/136882943-d46a4f2f-1256-4691-9ab8-618de991660e.mp4

### Specif

[2021-10-17 19:51] tterb commented on #115
@idiglove Can you provide a public repo that can be used to debug this issue and/or a link to the effected website?

[2022-01-18 13:22] hassibmoddasser opened #117 "“disqus-react” is not displayed when deployed on Vercel"
I'm stuck with a bug in my Next js application, and it's somewhat weird that I haven't faced it before.

I'm using `disqus-react` in my application; it works fine in the local environment, but nothing is displayed as long as I deploy it on Vercel and see **three** `Uncaught SyntaxError: Missing initializer in const declaration` error on the console. I'm also using the `react-share` package in the

[2022-01-24 04:11] hassibmoddasser commented on #117
Hi there, this issue has been fixed. I think there was something wrong with Vercel.

[2022-01-24 04:11] #117 closed

[2022-01-29 17:12] canmingir opened #118 "Incorrect Shortname (visit disqus.com/register)"
I am getting `Incorrect Shortname (visit disqus.com/register)` message at the top of forums, however, I can still send/receive message, I didn't setup anything special though

[code]

[2022-02-06 04:24] CyberCyclone commented on #118
`shortname` needs to be what is specified in the admin dashboard. As in, "example" needs to be the shortname for your account. I suspect in your case it will be `nucleoidjs`.

[2022-02-07 22:34] cmora commented on #118
@canmingir You have a wrong configuration. Should be:

`
<DiscussionEmbed
      shortname="nucleoidjs"
      config={{
        url: "https://nucleoidjs.com/this-is-the-url-of-your-article-or-content",
        identifier: "learn-1",
        title: "Nucleoid: Low-code framework for JS",
      }}
  />
`

[2022-02-07 23:02] #118 closed

[2022-02-23 09:08] idiglove commented on #115
This has been resolved, using the native disqus comment worked
Using CommentCount component somehow affected it

[2022-02-25 17:43] #115 closed, assigned to tterb

[2022-03-30 19:34] Jeydin opened #123 "How do I get the image to load in the preview part of the Disqus homepage?"
Like in this image (which is an image of an anime streaming site) they have these images
![image](https://user-images.githubusercontent.com/89167700/160916223-db12e035-d90d-49c3-b78e-184115c1a34e.png)

[2022-04-13 20:40] tobysmith568 opened #125 "React 18 Support"
### Is your feature request related to a problem? Please describe.

Hey - my project is on React 18 and the peer dependency version of React in this project maxes out at 17.
This means I'm unable to install it without using the `--legacy-peer-deps` flag when npm-installing.

### Describe the solution you'd like

Please can this library be updated to include support for React 18?

### Describe alte

[2022-04-19 19:31] tterb commented on #125
@tobysmith568 Thanks for the callout! I just put up a PR to update the `peerDependencies` to support React 18.

[2022-04-19 20:07] tobysmith568 commented on #125
Thanks - I was tempted to raise a PR myself with that change in it but I wasn't sure if you guys would need to do some manual testing on your end or if you had some kind of process for things like this? I saw React 15.x in your devDependencies and wasn't sure how to handle that and prove 18.x was all fine.

[2022-04-21 18:23] tterb commented on #125
PRs are always welcome!
To test, I just modified the `package.json` to require `react` and `react-dom` to use `18.x`, tested the components manually using the example site that's in the repo with `yarn start`, and ran the existing tests with `yarn test`. So there's definitely no special procedure or magic involved 🤣 .

Though, we probably should modify the CI check against all the supported React

[2022-04-22 17:58] tterb commented on #123
@Jeydin The images displayed on that page are retrieved from the page where the Disqus thread is embedded, so if the image isn't being detected on your website, I would recommend adding the following tag to your page `<head />` to ensure it can be detected correctly.

[code]

[2022-04-22 17:59] #107 closed

[2022-04-23 17:39] Jeydin commented on #123
Thanks! Turns out that I didn't even specify an image tag in my page `<head>`.

[2022-04-23 17:39] #123 closed

[2022-04-27 08:18] ioofy opened #127 "Got a bunch of error when using disquss with Nextjs also got a CORS"
### Describe the bug
Got a bunch of error when using disquss with especially it was blocked by CORS. please see the image

### Screenshots
![image](https://user-images.githubusercontent.com/77242429/165473113-32f2e7f5-426e-46b2-9b35-c1269fb40079.png)

### Specifications:
 - OS: Windows 10
 - Package version: v.1.1.2
 - Node version: v14.18.1

### Additional context
[code]

[2022-04-27 20:56] #125 closed

[2022-04-30 06:35] haoniukun opened #129 "No new release after react 18 upgrade?"
Hi,

Thanks for the good work. I want to upgrade react to 18. But the latest disqus release which is 1.1.2 does not have the upgrade.
Is there a plan to release a new build? thx.

[2022-05-02 01:39] tterb commented on #129
@haoniukun Just published a new version to NPM

[2022-05-02 01:44] tterb commented on #127
@ioofy These console errors appear to be caused by failing request for the sponsored links that Disqus utilizes for ad-supported publishers. My best guess is that they are likely failing due of some kind of adblock extension.

[2022-05-03 14:36] ioofy commented on #127
oh i see, ok thanks for replying.

[2022-06-09 18:00] justinmahar commented on #83
Ran into something similar. My solution was to replace all dashes in the identified with an underscore, then it magically worked.

[2022-06-16 13:36] Stumblor commented on #30
Yep, also an issue here. Comment counters not updating, calling

`DISQUSWIDGETS.getCount({ reset: true })`

has no effect.

[2022-06-23 18:51] Andresdamelio commented on #127
@ioofy  I have the same problem, but I don't have any active extension, testing from the phone I get the same thing. And it only happens in chrome, in safari it loads correctly.

[2022-07-10 21:26] itsnotsaved opened #131 "Add new language"
### Is your feature request related to a problem?

Please add below language to disqus project
https://www.transifex.com/disqus/public/

Language name: Sinhala
Native name: සිංහල
Code: si

### Additional context
It was already requested years ago.

Available contributors: public statistic (transifex)
@ruwank (requester) @HelaBasa (agency) @wa_chmd and maybe more

[2022-07-15 09:59] RowenTey opened #132 "Code failing in production (NextJS)"
## Describe the bug
The code is able to compile in localhost but keeps failing once I deploy to Vercel, any ideas why?

## Screenshots
### Error Log
![image](https://user-images.githubusercontent.com/94209928/179200252-59d0add0-37a1-4ea3-992f-82a92ad18ab6.png)
### package.json file
![image](https://user-images.githubusercontent.com/94209928/179200541-3076558a-90fc-4a43-be00-b184bd71912c.png)
### c

[2022-07-15 10:10] #132 closed

[2022-09-06 06:19] CyberCyclone opened #134 "Color Scheme / Theme Not Working"
### Describe the bug

I've posted the same bug here https://disqus.com/home/channel/discussdisqus/discussion/channel-discussdisqus/bug_reports_feedback_cant_change_color_scheme/ as I'm pretty sure it's a Disqus problem since forcing the Color Scheme in the Disqus Admin Dashboard (Dark) doesn't work either. I'm just posting this here in case it is something to do with the plugin.

-------------

I'

[2022-09-06 22:58] CyberCyclone commented on #134
Solved as the below:

https://disqus.com/home/channel/discussdisqus/discussion/channel-discussdisqus/bug_reports_feedback_cant_change_color_scheme/

-----

It looks like Disqus is correctly identifying the colors on your site and adapting Disqus.
The issue is with the color-scheme: dark; attribute inherited by #disqus_thread in your site's styles.
If you're able to add custom CSS to your theme, ad

[2022-09-06 22:58] #134 closed

[2022-09-27 15:09] jaequery opened #135 "Does this React component not support SSO feature?"
### Is your feature request related to a problem? Please describe.
Unable to pass SSO data to the component

### Describe the solution you'd like
Need to be able to pass remote_auth_s3 to the configuration option

### Describe alternatives you've considered
Looked at a previous PR (https://github.com/disqus/disqus-react/pull/17) that says it's now added but when I try, I get a TS error saying remo

[2022-09-28 14:07] jaequery commented on #135
here is the error in detail:

[code]

[2022-09-28 14:11] jaequery commented on #135
also tried remoteAuthS3 but no luck.

[2022-10-03 21:11] chrisjtang commented on #135
@jaequery Do you have an example repo that I can use to reproduce this issue?

[2022-10-10 21:16] chrisjtang commented on #135
This issue is resolved by https://github.com/disqus/disqus-react/pull/136, which is now released and live in v1.1.4 here: https://www.npmjs.com/package/disqus-react.  We will publish an example repo in the coming days that is similar to https://disqus-sso-demo.glitch.me/.  Closing this issue as completed.

[2022-10-10 21:16] #135 closed

[2022-10-13 11:55] zsolt-dev opened #138 "Tree shaking - bundle size"
[20KB](https://bundlephobia.com/package/disqus-react@1.1.4) (uncompressed) seems a bit excessive for just a wrapper.

I just need the `<DiscussionEmbed>` and it still adds 20KB to the bundle size.

Please consider providing Tree shakable package and consider rewriting to hooks for a smaller output.

Thank you

[2022-10-13 22:25] chrisjtang commented on #135
Update: v1.1.5 also adds an interface that should fix most, if not all, typing error messages related to TS when using the DiscussionEmbed component for SSO.  And, to follow up on a previous comment, here are some example apps/repos for the SSO configuration of this package:

Javascript + React: [Disqus SSO React Demo](https://disqus-sso-react-demo.glitch.me/)

Typescript + React: [foodandstuff/fo

[2022-11-12 06:55] Ekbal41 commented on #30
same issue 😔

[2022-11-27 20:36] bandinopla commented on #32
im getting `Cannot find module 'disqus-react'. Did you mean to set the 'moduleResolution' option to 'node', or to add aliases to the 'paths' option?` with `"disqus-react": "^1.1.5"` using typescript...